#logo {
  font-family: 'Damion', cursive;
  text-align: center;
  font-size: 8rem;
  color: darkgreen;
  margin-top: -6rem;
}

#logo_image {
  width: 30rem;
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 414) {
  .light_image {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
